.container {
    padding: 25px 0px 0px 24px;
}

.content_container {
  width: 100%;
  border: solid 1px #cc0000;
  padding: 41.5px 39px 15px 45px;
	background-color: #fff;
}

.clear {
  float: none;
  content: '';
  clear: both;
}
