.container {
  width: 1400px;
  display: block;
  margin:  24px;
}

.sidebar_container {
  float: left;
}

.content_container {
  float: left;
  margin-right: 27px;
  .content {
    padding: 41.5px 39px 15px 45px;
  	width: 1180px;
  	background-color: #fff;
  	border: solid 1px #cc0000;
  }
}

.clear {
  float: none;
  content: '';
  clear: both;
}
